<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg" href="../images/logo.svg">
    <link href="../webcommons/remixicon/fonts/remixicon.css" rel="stylesheet">
        <!--load all styles -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>

<body class="horizontal center">
    <form class="stdCard"  method="POST">

        <header>
            <h2>New user</h2>
           
        </header>
        <div class="content">
            <div class="growFormField">
                <label>Username:</label><input type="text" id="username" name="username" value=<%= username %>>
            </div>
            <div class="growFormField">
                <label>Full name:</label><input type="text" id="fullname" name="fullname" value=<%= fullname %>>
            </div>
            <div class="growFormField">
                <label>Password:</label><input type="password" id="password" name="password" >
            </div>
            <div class="growFormField">
                <label>Password:</label><input type="password" id="passwordAgain" name="passwordAgain" >
            </div>
            <div class="growFormField">
                <label>E-mail:</label><input type="email" id="email" name="email" value=<%= email %>>
            </div>
            <div class="container horizontal spaceBetween">
                <button>Ok</button>
                <% if(message) {%>
                    <span class="error"><%= message %></span>
                <% } %>
            </div>
        </div>
    </form>
</body>

</html>