<html>

<head>
    <meta charset="UTF-8">
    <base href="/user<% if(base != null) {%>/<%=base %><%}%>">
    <link rel="icon" type="image/svg" href="images/logo.svg">
    <link href="webcommons/remixicon/fonts/remixicon.css" rel="stylesheet">
    <!--load all styles -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body class="horizontal center">
    <form class="stdCard"  method="GET" action="/">

        <header>
            <h2>Something went wrong ...</h2>
           
        </header>
        <div class="content">
            <div class="content">
                <h3 class="banner">Sorry for the inconvenience</h3>
             </div>
            <div class="container horizontal spaceBetween">
                <button>Ok</button>
               
            </div>
        </div>
    </form>
</body>

</html>